.head{
    display:flex;
    gap:20px;
    align-items: flex-start;
}

.body {
    justify-content:center;
     align-items: center; 

}

.wrapper
{
     display:flex;
    gap:20px;
    align-items: flex-start;
}